<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TennisApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TennisApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/tennis-ball.png" alt="Tennis Ball" width="25" height="25">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Action"] as string == "Index" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 15px; @(ViewContext.RouteData.Values["Action"] as string == "Index" ? "background-color: #3279FD; color: white; border-radius: 5px;" : "")">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Action"] as string == "Trening" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Trening" style="font-size: 15px; @(ViewContext.RouteData.Values["Action"] as string == "Trening" ? "background-color: #3279FD; color: white; border-radius: 5px;" : "")">Тренировки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["Action"] as string == "Calendar" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Calendar" style="font-size: 15px; @(ViewContext.RouteData.Values["Action"] as string == "Calendar" ? "background-color: #3279FD; color: white; border-radius: 5px;" : "")">Календарь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>






    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
@*            &copy; 2023 - TennisApp -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/WladyslawKuzmenka">
                    <img src="~/images/f.png" alt="Facebook" width="20" height="20">
                </a>
                <a href="https://www.instagram.com/wladyslawkuzmenka/">
                    <img src="~/images/i.png" alt="Instagram" width="20" height="20">
                </a>
                <a href="https://t.me/SteveNeedle">
                    <img src="~/images/t.png" alt="Twitter" width="20" height="20">
                </a>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
